/*tabla*/

.lista {
    color: #fbfbfb;
    padding: 20px 20px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid #195a4e;
    text-align: center;
}

.caption {
    padding: 10px 0;
    font-weight: 600;
    font-size: 20px;
}