/* inicio color, tamaño y lugar del titulo*/

.titulo {
    color: #138d75;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
}

.subtitulo {
    color: #badbd5;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}


/* fin color, tamaño y lugar del titulo*/